/* src/BookItem.css */
.book-item {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
}

.book-rank {
    font-size: 1.1em;
    font-weight: 500;
    margin-right: 20px;
}

.book-cover {
    width: 100px;
    height: 150px;
    margin-right: 20px;
}

.book-details {
    flex: 1;
}

.book-title {
    margin: 0;
    font-size: 1.2em;
    font-weight: 700;
}

.book-author, .book-publisher, .book-location, .book-availability {
    margin: 5px 0;
}

.book-author strong, .book-publisher strong, .book-location strong, .book-availability strong {
    color: green;
}
